<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title> Planning Sportif </title>
</head>

<body>
    <form method="POST">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/calendar">
                <h1 class ="display-4">White Sharks</h1>
            </a>
            <a>
                <label for="user-select" id="profile">Profil</label>
                </div>
                <select name="users" id="user-select">
                    <% for(var i = 0 ; i < users.length ; i++) {  %>
                    <option value="<%= users[i].iduser %>"><%= users[i].lastname %>
                        <%= users[i].firstname %></option>
                    <% } %>
                </select>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/calendar">Calendar <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/members">Members</a>
                    </li>
                    <li class="nav-item">
                        <a href='/logout'>Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4"> Events list </h1>
            <p class="lead"> Thanks to this app, you will be able to register to trainings and matchs with your sport team ! </p>
            <hr class="my-4">
            <p>If u want to add a new event, just click here below.</p>
            <a href="/calendar/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add an event</a>
        </div>

        <div class="container-fluid liste">
            <ul>
                <% for(var i = 0 ; i < events.length ; i++) {  %>
                <div class="container-fluid item">
                    <div class="row">
                        <li>
                            <div class="col-md-12">
                                <h3><%= events[i].idcal %> - <%= events[i].Type %> - <%= events[i].Name %> -
                                    <%= events[i].Date %></h3>
                                <a href='/calendar/update/<%= events[i].idcal %>' class="btn btn-warning btn-sm active" role="button" aria-pressed="true"> Edit </a>
                                <a href='/calendar/remove/<%= events[i].idcal %>' class="btn btn-danger btn-sm active" role="button" aria-pressed="true"> Delete </a> </br>
                            </div>
                            <div class="col-md-12">
                                <strong>Will u be there ? </strong> <a href='/calendar/details/<%= events[i].idcal %>' class="btn btn-info btn-sm"> View details </a>
                                </br>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success btn-sm" name="submit_yes" value="YES"
                                    formaction="/calendar/yes/<%= events[i].idcal %>">
                                </input>
                                <input type="submit" class="btn btn-danger btn-sm" name="submit_no" value="NO"
                                    formaction="/calendar/no/<%= events[i].idcal %>">
                                </input>
                            </div>
                        </li>
                    </div>
                </div>
                <% } %>
            </ul>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>